




 * {
    padding: 0px;
    margin: 0px;
    box-sizing:  border-box;
    font-family: sans-serif;
}

nav{
    max-width: 900px;
    margin: auto;
    background-color: #333;
    font-size: 20px;
    margin-top: 50px;
}

.menuHorizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menuHorizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menuHorizontal > li:hover{
    background-color: red;
}

.menuVertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}

.menuHorizontal li:hover .menuVertical{
    display: block;
}

.menuVertical li:hover{
    background-color: black;
}

.menuVertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

nav h1 h2 p {
    border-style: solid;
    color: black;
}

p{
    color: white;
}

h1 {
    color: white;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url(shadow.jpg);
    background-size: cover;
    background-position: center;
}

nav ul li p {
  border-style: solid;
  color: black;
}

form{
 width: 300px;
 border: 5px inset black;
 color: white;
 background-color: navy;
 padding: 10px;
}

.block {
 display: block;
}
.p1 {
 margin-top: 5px;
}
.p2 {
 margin-top: 10px;
}
.p3 {
 margin-top: 15px;
}
.error {
 border: 2px dashed red;
}

div {
    border-style: solid;
    padding: 15px 20px; 
}

img {
  height: 150px;
}

.carousel {
    position: relative;
    overflow: hidden;
}

.carousel .images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel img {
    width: 100%;
    height: 300px;
}

.prev,
.next {
    cursor: pointer;
    background-color: white;
}

.prev {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.next {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}